:root {
  --dark-color: #263238;
  --light-color: #8f95a5;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

img {
  display: block;
}

button {
  font-family: inherit;
  cursor: pointer;
  border: none;
}

body {
  font-family: poppins;
  color: var(--light-color);
  font-size: 20px;
  line-height: 1.5;
}

.container {
  width: 1338px;
  margin: 0 auto;
  padding: 0 15px;
}

.link {
  text-decoration: none;
  outline: none;
  color: inherit;
}

.link:hover,
.link:focus {
color: var(--light-color);
}

.menu {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  margin: 55px auto;
}

.menu-navs {
  display: flex;
  gap: 50px;
}

.logo-start {
  color: #000000;
  font-weight: 400;
  font-size: 36px;
  margin-right: 236px;
}

.logo-end {
  color: #939393;
}

.list {
  list-style-type: none;
}

.menu-nav {
  color: var(--dark-color);
  font-weight: 500;
  text-transform: capitalize;
}

.header-button {
  color: #000000;
  letter-spacing: 0.03em;
  font-size: 20px;
  line-height: 1.5;
  padding: 20px 56px;
  text-transform: capitalize;
  width: 312px;
  height: 70px;

  border: 2px solid var(--dark-color);
  border-radius: 10px;
  background-color: #ffffff;
  margin-left: 121px;
}

.header-button:hover,
.header-button:focus {
  color: #ffffff;
  background-color: var(--dark-color);
}

.hero-section {
  display: flex;
  margin-bottom: 178px;
  justify-content: space-between;
}

.hero-title {
  color: #000000;
  font-weight: 600;
  font-size: 64px;
  line-height: 1.25;
  text-transform: capitalize;
  max-width: 384px;
}

.hero-description {
  font-size: 24px;
  padding-top: 40px;
  padding-bottom: 60px;
  max-width: 540px;
}

.hero-button {
  color: #ffffff;
  font-size: 36px;
  letter-spacing: 0.03em;
  padding: 23px 64px;

  border-radius: 10px;
  background-color: var(--dark-color);
}

.hero-button:hover,
.hero-button:focus {
  color: var(--dark-color);
  background-color: #ffffff;
  border: 2px solid var(--dark-color);
}

.main-subtitile {
  color: #000000;
  font-weight: 600;
  font-size: 48px;
  text-transform: capitalize;
  margin-bottom: 30px;
}

.skill-section {
  margin-bottom 182px;
}

.skills {
  display: flex;
  gap: 30px;
}

.second {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.two {
  display: flex;
  gap: 30px;
}
.last {
  display: flex;
  flex-direction: row-reverse;
}

.skill-field {
    background-color: #F5F5F5;
    border-radius: 10px;
    padding: 32px 18px;
}

.skill-name {
  color: var(--dark-color);
  font-weight: 600;
  font-size: 30px;
  margin-top: 24px;
}

.skill-description {
  font-size: 16px;
  margin-top: 20px;
}

.skill-button {
  color: #ffffff;
  font-size: 18px;
  line-height: 1.5;
  font-weight: 500;
  padding: 17px 63px;
  margin-top: 30px;

  border-radius: 10px;
  background-color: var(--dark-color);
}

.skill-button:hover,
.skill-button:focus {
  color: var(--dark-color);
  background-color: #ffffff;
  border: 1px solid var(--dark-color);
}

.about-section {
  display: flex;
  gap: 146px;
  margin: 180px auto;
  flex-direction: row-reverse;
} 

.about-description {
  line-height: 1.8;
  margin-bottom: 30px;
}

.about-amount {
  color: var(--dark-color);
  font-weight: 600;
  font-size: 48px;
}

.amount {
  display: flex;
  gap: 131px;
  text-align: center;
}

.amount-description {
}

.pricing-section {
  margin-bottom: 180px;
}

.price-titile {
  color: var(--dark-color);
  font-weight: 600;
  font-size: 30px;
  line-height: 1.6;
  text-transform: capitalize;
  margin-bottom: 20px;
}

.price-description {
  flex-grow: 1;
  margin-bottom: 30px;
}

.prices {
  display: flex;
  gap: 30px;;
}

.price {
  width: 33%;
}

.price-field {
  background: #eeeeee;
  border-radius: 5px;
  display: flex;
  gap: 10px;
  width: 260px;
  justify-content: space-evenly;
  align-items: center;
}

.price {
  display: flex;
  flex-direction: column;
  color: var(--dark-color);
  font-size: 24px;
}

.period {
  color: #546269;
  font-size: 18px;
}

.contact-description {
  margin-bottom: 30px;
  width: 654px;
}

.input {
  border: 1px solid var(--light-color);
  border-radius: 10px;
  text-transform: capitalize;

  font-size: 16px;
  line-height: 1.8;
  margin-right: 30px;
  padding: 20px 30px;
  width: 400px
}

.contact-section {
  display: flex;
  gap: 144px;
}

.contact-button {
  color: #ffffff;
  font-size: 20px;
  line-height: 1.5;
  font-weight: 500;
  letter-spacing: 0.03em;
  padding: 20px 56px;

  border: none;
  border-radius: 10px;
  background-color: var(--dark-color);
}

.contact-button:hover,
.contact-button:focus {
  color: var(--dark-color);
  background-color: #ffffff;
  border: 1px solid var(--dark-color);
}

.footer-section {
  border-top: 1px solid #c4c4c4;
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  padding: 22px 0 77px 0;
}

.footer-details{
  display: flex;
  gap: 80px;
}

.footer-detail {
  color: inherit;
  font-size: 24px;
  letter-spacing: 0.02em;
}
