:root {
  --dark-color: #263238;
  --light-color: #8f95a5;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

img {
  display: block;
}

button {
  font-family: inherit;
  cursor: pointer;
  border: none;
}

input {
  outline: none;
}

body {
  font-family: poppins;
  color: var(--light-color);
  font-size: 20px;
  line-height: 1.5;
}

.container {
  min-width: 320px;
  max-width: 1338px;
  margin: 0 auto;
  padding: 0 15px;
}

.link {
  text-decoration: none;
  outline: none;
  color: inherit;
}

.link:hover,
.link:focus {
  color: var(--light-color);
}
.menu {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  margin: 55px auto;
}

.menu-navs {
  display: flex;
  gap: 50px;
}

.logo-start {
  color: #000000;
  font-weight: 400;
  font-size: 36px;
  margin-right: 236px;
}

.logo-end {
  color: #939393;
}

.list {
  list-style-type: none;
}

.menu-nav {
  color: var(--dark-color);
  font-weight: 500;
  text-transform: capitalize;
}

.header-button {
  color: #000000;
  letter-spacing: 0.03em;
  font-size: 20px;
  line-height: 1.5;
  padding: 20px 56px;
  text-transform: capitalize;
  width: 312px;
  height: 70px;

  border: 2px solid var(--dark-color);
  border-radius: 10px;
  background-color: #ffffff;
  margin-left: 121px;
  transition: all 0.3s cubic-bezier(0.46, 0.03, 0.52, 0.96);
}

.header-button:hover,
.header-button:focus {
  box-shadow: 5px 5px 0px 0px var(--dark-color);
}

.hero-section {
  display: flex;
  margin-bottom: 178px;
  justify-content: space-between;
}

.hero-title {
  color: #000000;
  font-weight: 600;
  font-size: 64px;
  line-height: 1.25;
  text-transform: capitalize;
  max-width: 384px;
}

.hero-description {
  font-size: 24px;
  padding-top: 40px;
  padding-bottom: 60px;
  max-width: 540px;
}

.hero-button {
  color: #ffffff;
  font-size: 36px;
  letter-spacing: 0.03em;
  padding: 23px 64px;
  border: 2px solid transparent;
  border-radius: 10px;
  background-color: var(--dark-color);
  box-shadow: 5px 5px 0px 0px var(--dark-color);
  border: 2px solid #ffffff;
  transition: all 0.3s cubic-bezier(0.46, 0.03, 0.52, 0.96);
}

.hero-button:hover,
.hero-button:focus {
  color: var(--dark-color);
  background-color: #ffffff;
  border: 2px solid var(--dark-color);
}

.main-subtitle {
  color: #000000;
  font-weight: 600;
  font-size: 48px;
  text-transform: capitalize;
  margin-bottom: 30px;
}

.skill-section {
  margin-bottom: 182px;
}

.skills {
  display: grid;
  gap: 30px;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto 1fr;
}

.skill-field {
  background-color: #f5f5f5;
  border-radius: 10px;
  padding: 32px 18px;
}
.skill-field:nth-child(1) {
  grid-row: span 2;
}

.skill-field:nth-child(4) {
  grid-column: span 2;
  display: flex;
  flex-direction: row-reverse;
}

.skill-name {
  color: var(--dark-color);
  font-weight: 600;
  font-size: 30px;
  margin-top: 24px;
}

.skill-description {
  font-size: 16px;
  margin-top: 20px;
}

.skill-button {
  color: #ffffff;
  font-size: 18px;
  line-height: 1.5;
  font-weight: 500;
  padding: 17px 63px;
  margin-top: 30px;

  border: 1px solid #fff;
  border-radius: 10px;
  background-color: var(--dark-color);
  transition: all 0.3s cubic-bezier(0.46, 0.03, 0.52, 0.96);
}

.skill-button:hover,
.skill-button:focus {
  color: var(--dark-color);
  background-color: #ffffff;
  border: 1px solid var(--dark-color);
}

.about-section {
  margin-top: 55px;
  margin-bottom: 82px;
}
.s {
  display: flex;
  gap: 78px;
}
.about-description {
  line-height: 1.8;
  margin-bottom: 30px;
}

.about-amount {
  color: var(--dark-color);
  font-weight: 600;
  font-size: 48px;
}

.amount {
  display: flex;
  gap: 131px;
  text-align: center;
}

.amount-description {
}

.pricing-section {
  margin-bottom: 180px;
}

.price-title {
  color: var(--dark-color);
  font-weight: 600;
  font-size: 30px;
  line-height: 1.6;
  text-transform: capitalize;
  margin-bottom: 20px;
}

.price-description {
  flex-grow: 1;
  color: var(--light-color);
  margin-bottom: 30px;
}

.prices {
  display: flex;
  gap: 30px;
}

.price-field {
  background: #eeeeee;
  border-radius: 5px;
  display: flex;
  gap: 21px;
  width: 260px;
  height: 45px;
  justify-content: space-evenly;
  align-items: center;
}

.price {
  display: flex;
  flex-direction: column;
  color: var(--dark-color);
  font-size: 24px;
}

.period {
  color: #546269;
  font-size: 18px;
}

.contact-description {
  margin-bottom: 30px;
  width: 654px;
}

.contact-input {
  border: 1px solid var(--light-color);
  border-radius: 10px;

  font-size: 16px;
  line-height: 1.8;
  margin-right: 30px;
  padding: 20px 30px;
  width: 400px;
  color: var(--dark-color);
}

.contact-input:focus {
  border-color: var(--dark-color);
}

.contact-input:placeholder-shown {
  text-transform: capitalize;
}

.contact-section {
  margin-top: 180px;
  margin-bottom: 55px;
  display: flex;
  gap: 144px;
}

.contact-button {
  color: #ffffff;
  font-size: 20px;
  line-height: 1.5;
  font-weight: 500;
  letter-spacing: 0.03em;
  padding: 20px 56px;

  border: 1px solid #fff;
  border-radius: 10px;
  background-color: var(--dark-color);
  transition: all 0.3s cubic-bezier(0.46, 0.03, 0.52, 0.96);
}

.contact-button:hover,
.contact-button:focus {
  color: var(--dark-color);
  background-color: #ffffff;
  border: 1px solid var(--dark-color);
}

.footer-section {
  border-top: 1px solid #c4c4c4;
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  padding: 22px 0 77px 0;
}

.footer-details {
  display: flex;
  gap: 80px;
}

.footer-detail {
  color: inherit;
  font-size: 24px;
  letter-spacing: 0.02em;
}

/* Mobile menu */
.menu-toggle {
  background-color: transparent;
}

@media screen and (min-width: 768px) {
  .menu-toggle {
    display: none;
  }
}
.menu-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #ffffff;
  z-index: 999;

  transform: translateX(100%);
  transition: transform 250ms ease-in-out;
}

.menu-container.is-open {
  transform: translateX(0);
}

.close-button {
  position: absolute;
  right: 25px;
  top: 25px;
  background-color: transparent;
}
@media (max-width: 768px) {
  .logo-start {
    font-size: 24px;
    margin-right: auto;
  }
  .menu {
    margin-top: 36px;
    margin-bottom: 29px;
  }
  .menu-navs,
  .header-button {
    display: none;
  }
  .hero-section {
    flex-direction: column-reverse;
    margin-bottom: 53px;
    text-align: center;
    align-items: center;
  }
  .hero-image {
    width: 100%;
  }
  .hero-title {
    font-size: 24px;
    width: 220px;
    display: inline-block;
  }
  .hero-description {
    font-size: 14px;
    width: 292px;
    padding-top: 20px;
    padding-bottom: 33px;
  }
  .hero-button {
    font-size: 16px;
    padding: 18px 99px;
  }
  .main-subtitle {
    font-size: 24px;
    margin-bottom: 32px;
  }
  .skill-image {
    width: 213px;
    height: 213px;
  }
  .skills {
    display: inline-block;
  }
  .skill-field, .skill-field:nth-child(1), .skill-field:nth-child(4) {
    display: block;
  }
  .skill-name {
    font-size: 18px;
    margin-top: 19px;
  }
  .skill-description {
    font-size: 12px;
    margin-top: 15px;
  }
  .skill-button {
    padding: 13px 42px;
    font-size: 14px;
    margin-top: 20px;
  }
  /* Carousel */

  .carousel-wrapper {
    display: flex;
    align-items: center;
    gap: 5px;
    margin-top: 70px;
  }
  .carousel {
    list-style: none;
    width: 90%;
    display: flex;
    gap: 22px;
    overflow-x: scroll;
    scroll-behavior: smooth;
    /* use this property to hide the scrollbar on firefox */
    scrollbar-width: none;
  }
  /*  use this pseudo class to hide the scrollbar on chrome */
  .carousel::-webkit-scrollbar {
    display: none;
  }
  .skill-field {
    background-color: #f5f5f5;
    border-radius: 10px;
    padding: 32px 18px;
    flex-basis: calc((100% - 44px) / 3);
  }
  .left,
  .right {
    border: none;
    background-color: #f5f5f5;
    border-radius: 10px;
    cursor: pointer;
    overflow: hidden;
    z-index: 100;
  }
  /* End of carousel */
  .about-section {
    margin-top: 0;
    text-align: center;
    align-items: center;
  }
  .about-image {
    width: 283px;
    height: 283px;
  }
  .about-description {
    font-size: 13px;
    width: 295px;
  }
  .about-amount {
    font-size: 24px;
  }
  .amount-description {
    font-size: 13px;
  }
  .s {
    flex-direction: column-reverse;
    gap: 42px;
    align-items: center;
  }
  .amount {
    flex-direction: column;
    gap: 30px;
  }
  .pricing-section {
    text-align: center;
  }
  .prices {
    flex-direction: column;
  }
  .price-title {
    font-size: 18px;
  }
  .price-description {
    font-size: 13px;
    width: 272px;
  }
  .price-field {
    width: 170px;
    height: 37px;
    gap: 10px;
  }
  .price {
    font-size: 18px;
    align-items: center;
  }
  .period {
    font-size: 14px;
  }
  .contact-section {
    margin-top: 72px;
    flex-direction: column-reverse;
  }
  .contact-description {
    font-size: 14px;
    width: 287px;
  }

  .form-input {
    display: flex;
    flex-direction: column;
    gap: 17px;
  }
  .contact-input {
    font-size: 12px;
    padding: 16px 26px;
    margin-right: 0;
    
  }
  .contact-image {
    height: 228px;
    width: 253px;
  }
  .contact-button {
    font-size: 14px;
    padding: 20px 0;
  }
  .footer-section {
    flex-direction: column;
    gap: 15px;
  }
  .footer-details {
    gap: 10px;
  }
  .footer-detail {
    font-size: 11px;
  }
}
